<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01 初试人连识别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D63AD7171ED45D8800A46276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63AD7301ED45D8900A46276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63AD73B1ED45D8900A46276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
